gepsac/gepsac-proxyws/src/wsdl/BOService.xml

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="BOService" targetNamespace="http://service.gepsac.sacooliveros.com/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.gepsac.sacooliveros.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema elementFormDefault="unqualified" targetNamespace="http://service.gepsac.sacooliveros.com/" version="1.0" xmlns:tns="http://service.gepsac.sacooliveros.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="evaluarAlumno" type="tns:evaluarAlumno"/>
<xs:element name="evaluarAlumnoResponse" type="tns:evaluarAlumnoResponse"/>
<xs:element name="explicacion" type="tns:explicacion"/>
<xs:element name="explicacionResponse" type="tns:explicacionResponse"/>
<xs:complexType name="evaluarAlumno">
    <xs:sequence>
      <xs:element minOccurs="0" name="evaluacionPostulante" type="tns:evaluacionPostulante"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="evaluacionPostulante">
    <xs:complexContent>
      <xs:extension base="tns:model">
        <xs:sequence>
          <xs:element minOccurs="0" name="alumno" type="tns:alumno"/>
          <xs:element minOccurs="0" name="fechaEvaluacion" type="xs:dateTime"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="perfiles" nillable="true" type="tns:perfilEvaluado"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
<xs:complexType name="model">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigo" type="xs:string"/>
      <xs:element minOccurs="0" name="estado" type="tns:estado"/>
      <xs:element minOccurs="0" name="fecCre" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="fecMod" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="usuCre" type="xs:string"/>
      <xs:element minOccurs="0" name="usuMod" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="alumno">
    <xs:complexContent>
      <xs:extension base="tns:participante">
        <xs:sequence>
          <xs:element name="cantCambioColegio" type="xs:int"/>
          <xs:element name="cantHnos" type="xs:int"/>
          <xs:element minOccurs="0" name="contextura" type="tns:entidad"/>
          <xs:element minOccurs="0" name="departamento" type="tns:entidad"/>
          <xs:element minOccurs="0" name="direccion" type="xs:string"/>
          <xs:element minOccurs="0" name="distrito" type="tns:entidad"/>
          <xs:element minOccurs="0" name="estatura" type="tns:entidad"/>
          <xs:element minOccurs="0" name="fechaNacimiento" type="xs:dateTime"/>
          <xs:element name="gradoEscolar" type="xs:int"/>
          <xs:element minOccurs="0" name="lugarNacimiento" type="xs:string"/>
          <xs:element minOccurs="0" name="nacionalidad" type="tns:entidad"/>
          <xs:element minOccurs="0" name="nivelEscolar" type="tns:entidad"/>
          <xs:element name="ordenNacimiento" type="xs:int"/>
          <xs:element minOccurs="0" name="perfil" type="tns:perfil"/>
          <xs:element name="promedioEscolar" type="xs:double"/>
          <xs:element minOccurs="0" name="provincia" type="tns:entidad"/>
          <xs:element minOccurs="0" name="religion" type="tns:entidad"/>
          <xs:element minOccurs="0" name="sexo" type="tns:entidad"/>
          <xs:element minOccurs="0" name="tipoFamilia" type="tns:entidad"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
<xs:complexType name="participante">
    <xs:complexContent>
      <xs:extension base="tns:model">
        <xs:sequence>
          <xs:element minOccurs="0" name="apellidoMaterno" type="xs:string"/>
          <xs:element minOccurs="0" name="apellidoPaterno" type="xs:string"/>
          <xs:element name="edad" type="xs:int"/>
          <xs:element minOccurs="0" name="email" type="xs:string"/>
          <xs:element minOccurs="0" name="nombres" type="xs:string"/>
          <xs:element minOccurs="0" name="telefono" type="xs:string"/>
          <xs:element minOccurs="0" name="tipo" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
<xs:complexType name="entidad">
    <xs:sequence>
      <xs:element name="codigo" type="xs:int"/>
      <xs:element minOccurs="0" name="nombre" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="perfil">
    <xs:complexContent>
      <xs:extension base="tns:model">
        <xs:sequence>
          <xs:element minOccurs="0" name="descripcion" type="xs:string"/>
          <xs:element minOccurs="0" name="nombre" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
<xs:complexType name="estado">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigo" type="xs:string"/>
      <xs:element minOccurs="0" name="descripcion" type="xs:string"/>
      <xs:element minOccurs="0" name="nombre" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="perfilEvaluado">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigoEvaluacion" type="xs:string"/>
      <xs:element name="indice" type="xs:int"/>
      <xs:element minOccurs="0" name="perfil" type="tns:perfil"/>
      <xs:element name="probabilidad" type="xs:double"/>
      <xs:element name="seleccionado" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="evaluarAlumnoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:evaluacionPostulante"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="explicacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigoEvaluacionAcosoEscolar" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="explicacionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:explicacionResultado"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="explicacionResultado">
    <xs:sequence>
      <xs:element minOccurs="0" name="alumno" type="tns:alumno"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="preguntas" nillable="true" type="tns:preguntaEvaluacion"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="preguntaEvaluacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigoEvaluacion" type="xs:string"/>
      <xs:element name="ordenEvaluacion" type="xs:int"/>
      <xs:element minOccurs="0" name="pregunta" type="tns:pregunta"/>
      <xs:element minOccurs="0" name="regla" type="xs:string"/>
      <xs:element minOccurs="0" name="respuesta" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="pregunta">
    <xs:complexContent>
      <xs:extension base="tns:model">
        <xs:sequence>
          <xs:element minOccurs="0" name="alias" type="xs:string"/>
          <xs:element minOccurs="0" name="enunciado" type="xs:string"/>
          <xs:element minOccurs="0" name="tipo" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="evaluarAlumnoResponse">
    <wsdl:part element="tns:evaluarAlumnoResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="evaluarAlumno">
    <wsdl:part element="tns:evaluarAlumno" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="explicacion">
    <wsdl:part element="tns:explicacion" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="explicacionResponse">
    <wsdl:part element="tns:explicacionResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="BOService">
    <wsdl:operation name="evaluarAlumno">
      <wsdl:input message="tns:evaluarAlumno" name="evaluarAlumno">
    </wsdl:input>
      <wsdl:output message="tns:evaluarAlumnoResponse" name="evaluarAlumnoResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="explicacion">
      <wsdl:input message="tns:explicacion" name="explicacion">
    </wsdl:input>
      <wsdl:output message="tns:explicacionResponse" name="explicacionResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BOServiceSoapBinding" type="tns:BOService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="evaluarAlumno">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="evaluarAlumno">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="evaluarAlumnoResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="explicacion">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="explicacion">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="explicacionResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BOService">
    <wsdl:port binding="tns:BOServiceSoapBinding" name="BOServicePort">
      <soap:address location="http://localhost:8080/gepsac-service/BOService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>