gepsac/gepsac-proxyws/src/wsdl/WebServiceAlumno.xml

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="WebServiceAlumno" targetNamespace="http://app.sacoliveros.pe.edu/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://app.sacoliveros.pe.edu/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema elementFormDefault="unqualified" targetNamespace="http://app.sacoliveros.pe.edu/" version="1.0" xmlns:tns="http://app.sacoliveros.pe.edu/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="buscarAlumnoPostulante" type="tns:buscarAlumnoPostulante"/>
<xs:element name="buscarAlumnoPostulanteResponse" type="tns:buscarAlumnoPostulanteResponse"/>
<xs:element name="listarAlumnoPostulante" type="tns:listarAlumnoPostulante"/>
<xs:element name="listarAlumnoPostulanteResponse" type="tns:listarAlumnoPostulanteResponse"/>
<xs:element name="obtenerAlumnoPostulante" type="tns:obtenerAlumnoPostulante"/>
<xs:element name="obtenerAlumnoPostulanteResponse" type="tns:obtenerAlumnoPostulanteResponse"/>
<xs:complexType name="obtenerAlumnoPostulante">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigo" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="obtenerAlumnoPostulanteResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:alumno"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="alumno">
    <xs:sequence>
      <xs:element minOccurs="0" name="altura" type="xs:string"/>
      <xs:element minOccurs="0" name="apellidoMaterno" type="xs:string"/>
      <xs:element minOccurs="0" name="apellidoPaterno" type="xs:string"/>
      <xs:element minOccurs="0" name="codigo" type="xs:string"/>
      <xs:element minOccurs="0" name="contextura" type="xs:string"/>
      <xs:element minOccurs="0" name="departamento" type="xs:string"/>
      <xs:element minOccurs="0" name="distrito" type="xs:string"/>
      <xs:element minOccurs="0" name="domicilio" type="xs:string"/>
      <xs:element name="edad" type="xs:int"/>
      <xs:element minOccurs="0" name="email" type="xs:string"/>
      <xs:element minOccurs="0" name="genero" type="xs:string"/>
      <xs:element name="gradoEscolar" type="xs:int"/>
      <xs:element minOccurs="0" name="nacionalidad" type="xs:string"/>
      <xs:element minOccurs="0" name="nivelEscolar" type="xs:string"/>
      <xs:element minOccurs="0" name="nombres" type="xs:string"/>
      <xs:element name="nroCambioColegio" type="xs:int"/>
      <xs:element name="numHnos" type="xs:int"/>
      <xs:element name="ordenNacimiento" type="xs:int"/>
      <xs:element name="promedioEscolar" type="xs:double"/>
      <xs:element minOccurs="0" name="provincia" type="xs:string"/>
      <xs:element minOccurs="0" name="religion" type="xs:string"/>
      <xs:element minOccurs="0" name="telefono" type="xs:string"/>
      <xs:element minOccurs="0" name="tipo" type="xs:string"/>
      <xs:element minOccurs="0" name="tipoFamilia" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="listarAlumnoPostulante">
    <xs:sequence/>
  </xs:complexType>
<xs:complexType name="listarAlumnoPostulanteResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:alumno"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="buscarAlumnoPostulante">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigo" type="xs:string"/>
      <xs:element minOccurs="0" name="nombres" type="xs:string"/>
      <xs:element minOccurs="0" name="apellidos" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="buscarAlumnoPostulanteResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:alumno"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="buscarAlumnoPostulante">
    <wsdl:part element="tns:buscarAlumnoPostulante" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="obtenerAlumnoPostulanteResponse">
    <wsdl:part element="tns:obtenerAlumnoPostulanteResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listarAlumnoPostulanteResponse">
    <wsdl:part element="tns:listarAlumnoPostulanteResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="buscarAlumnoPostulanteResponse">
    <wsdl:part element="tns:buscarAlumnoPostulanteResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="obtenerAlumnoPostulante">
    <wsdl:part element="tns:obtenerAlumnoPostulante" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listarAlumnoPostulante">
    <wsdl:part element="tns:listarAlumnoPostulante" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="WebServiceAlumno">
    <wsdl:operation name="obtenerAlumnoPostulante">
      <wsdl:input message="tns:obtenerAlumnoPostulante" name="obtenerAlumnoPostulante">
    </wsdl:input>
      <wsdl:output message="tns:obtenerAlumnoPostulanteResponse" name="obtenerAlumnoPostulanteResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarAlumnoPostulante">
      <wsdl:input message="tns:listarAlumnoPostulante" name="listarAlumnoPostulante">
    </wsdl:input>
      <wsdl:output message="tns:listarAlumnoPostulanteResponse" name="listarAlumnoPostulanteResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarAlumnoPostulante">
      <wsdl:input message="tns:buscarAlumnoPostulante" name="buscarAlumnoPostulante">
    </wsdl:input>
      <wsdl:output message="tns:buscarAlumnoPostulanteResponse" name="buscarAlumnoPostulanteResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceAlumnoSoapBinding" type="tns:WebServiceAlumno">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="obtenerAlumnoPostulante">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="obtenerAlumnoPostulante">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="obtenerAlumnoPostulanteResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarAlumnoPostulante">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="listarAlumnoPostulante">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="listarAlumnoPostulanteResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarAlumnoPostulante">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="buscarAlumnoPostulante">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="buscarAlumnoPostulanteResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceAlumno">
    <wsdl:port binding="tns:WebServiceAlumnoSoapBinding" name="WebServiceAlumnoPort">
      <soap:address location="http://localhost:8080/WebServiceIntranet/WebServiceAlumno"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>